<h1 class="ls-title-intro ls-ico-cart">Cartas</h1>
<section class="ls-form-horizontal" id="order_form">
  <div class="form-inputs">
    <label class="ls-label col-md-3">
      <%= form_tag import_cards_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
      <% end %>
    </label>
  </div>
</section>
<% @cards.each do |card| %>
 <tbody>
   <tr>
     <td><%= card.name_en %> / <%= card.name_pt %></td><br>
   </tr>
</tbody>
<% end %>
