<h1 class="ls-title-intro ls-ico-cart">Cartas</h1>
<section class="ls-form-horizontal" id="order_form">
  <div class="form-inputs">
    <label class="ls-label">
      <%= form_tag import_cards_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Importar Cartas" %>
      <% end %>
    </label>
  </div>

</section>
<hr>
<% @cards.each do |card| %>
 <tbody>
   <tr>
     <td>Nome: <%= card.name_en %> / <%= card.name_pt %> ID: <%= card.id %></td><br>
     <td>Expansão: <%= card.expansion.name_en %> - <%=card.expansion.prefix %> <%=card.number%>/<%=card.expansion.card_total%> </td><br>
     <% @card_price = @prices.where(card: card) %>
     <% if @card_price %>
       <% @card_price.each do |price| %>
        <td>Preço: R$<%= price.price %> - <%=price.shop_name%></td><br>
       <% end %>
    <% end %>
   </tr>
   <br>
</tbody>
<% end %>
