<% if @card.name_pt %>
  <h1 class="ls-title-intro ls-ico-cart"><%= @card.name_en%> / <%= @card.name_pt%></h1>
<% else %>
  <h1 class="ls-title-intro ls-ico-cart"><%= @card.name_en%></h1>
<% end %>
<span>
  <%= image_tag(@card.photo, alt: @card.name_en) %>
  <p><strong>Tipo:</strong> <%= @card.card_type %></p>
  <% if @card.card_type == "Pokemon" %>
    <p><strong>Elemento:</strong> <%= @card.type_element %></p>
  <% else %>
    <p><strong>Sub-tipo:</strong> <%= @card.type_element %></p>
  <% end %>
  <p><strong>Raridade:</strong> <%= @card.rarity %></p>
  <p><strong>Expansão:</strong> <%= @expansion.name_en %></p>
  <% @card_prices.each do |card_price| %>
    <p>Loja: <%= card_price.shop_name %> Preço: R$<%= card_price.price %><p>
  <% end %>
</span>
